.App {
  border: 1px solid white;
  /* box-shadow: 0 0 8px white; */
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background: rgb(255, 192, 245);
}

.glowing {
  animation-name: glowing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glowing {
  from { box-shadow: none; }
  to { box-shadow: 0 0 8px white; }
}

h1 {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

input {
  width: 80%;
  height: 29px;
  border: none;
  border-bottom: 1px solid gray;
}

button {
  width: 18%;
  height: 31px;
  background: linear-gradient(to right, #BE93C5, #7BC6CC);
  border: 1px solid gray;
  margin-right: 1%;
  margin-left: 1%;
  color: white;
  border-radius: 3px;
}
